@use "./variables" as *;
@use "./media-queries" as *;


@media (min-width: 480px) {

    /*main biografía*/
    .main-bio {
        margin-left: 5px;
        margin-right: 5px;
        overflow: hidden;
    }

    // Título principal
    .titulo-biografia {
        font-size: 50px;
        font-weight: bold;
        font-family: $font-primary;
        margin-top: 40px;
        text-align: center;
    }

    /*parrafo*/
    p{
        font-size: 20px;
        font-family: $font-primary;
        margin-right: 10px;
        margin-left: 10px;
    }

    .card-bio {
        justify-items: center;

        .card-group {
            width: 300px;
            height: auto;
            margin-left: 10px;
            margin-right: 10px;
            grid-template-columns: 1fr;
            grid-template-rows: 450px 450px 450px;
            row-gap: 20px;

            .card {
                width: 300px;
                height: auto;

                .card-img-top {
                    height: 300px;
                    width: 300px;
    
                }
            }
        }
    } 


    @include tablet {

        // Sección principal de la biografía
        .main-bio {
            margin-left: 40px;
        }

        /*Título principal*/
        .titulo-biografia {
            text-align: left;
            margin-left: 220px;
        }

        p {
            margin-right: 10%;
        }

        /*cards*/
        .card-bio {
            justify-items: left;

            .card-group {
                width: 750px;

                .card {
                    width: 500px;
                    .card-img-top {
                        height: 250px;
                        width: 249px;
                    }
                }
            }
        }     
    }

    /*Desktop*/

    @include desktop {

        /*main bio*/
        .main-bio {
            margin-left: 50px;
        }

        /*titulo bio*/

        .titulo-biografia {
            margin-top: 20px;
            margin-left: 350px;
        }

        p {
            width: 850px;
            margin-right: 50px;
            margin-left: 40px;
        }

        /*Cards*/

        .card-bio .card-group {
            margin-left: 40px;
        }
    }
}

    
