@use "./variables" as *;
@use "./media-queries" as *;

@media (min-width: 480px) {

    /*titulo book*/
    #titulo-book{
        text-align: center;
    }

    /*carrusel de fotos book*/

    .carousel{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;


        .carousel-inner{
            display: flex;
            width: 50%;
            height: auto;
            
            /*fotos book*/
            .fotos-hijo{
                .foto-book{
                    width: 100%;
                    height: auto;
                    margin-bottom: 30px;
                }
            }
        }

        /*botones de cambio de foto book*/
        .carousel-control-prev {
            left: 40px;
            position: absolute;
        }
        .carousel-control-next {
            right: 40px;
            position: absolute;
        }
    }

    
    @include tablet {

        .carousel-inner{
            display: flex;
            width: 50%;
            height: auto;
            
            /*fotos book*/
            .fotos-hijo{
                .foto-book{
                    width: 80%;
                    height: auto;
                    margin-bottom: 30px;
                }
            }
        }

        /*botones de cambio de foto book*/
        .carousel-control-prev {
            left: 150px;
        }

        .carousel-control-next {
            right: 150px;
        }
        
    }

    @include desktop {

        .carousel-inner{
            width: 100%;
            max-width: 100%;
            
            /*fotos book*/
            .fotos-hijo{
                .foto-book{
                    width: 30%;
                    height: auto;
        
                }
            }
        }

        /*botones de cambio de foto book*/

        .carousel-control-prev {
            left: 300px;
            max-width: 100%;
            overflow: hidden;
            position: absolute;
        }

        .carousel-control-next {
            right: 300px;
        }
    }
}
