@use "./variables" as *;
@use "./media-queries" as*;


@media (min-width: 320px) {

    @mixin margin-foto($margin-left, $margin-top, $margin_bottom, $width){
        margin-left: $margin-left;
        margin-top: $margin-top;
        margin-bottom: $margin_bottom;
        width: $width;
    }
    
    /*foto curriculum*/
    .div-foto-cv{
        margin: 0 auto;
        width: 100%;
        max-width: 70%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        @include margin-foto(60px, 10px, 20px, 100%);

        .foto-cv{
            width: 350px;
            max-width: 100%;
            height: auto;
            border: 3px solid $secundary-color;
            border-radius: 10px
        }
    }

    /*foto biografia*/
    .div-foto-bio{
        @include margin-foto(10px, 15px, 25px, 100%);
        margin: 0 auto;
        width: 70%;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .foto-bio{
            width: 300px;
            max-width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            border: 3px solid $secundary-color;
            border-radius: 10px
        }
    }

    /*tablet styles*/
    @include tablet{

        /*foto curriculum*/
        .div-foto-cv{
            width: 70%;
            overflow: hidden;
            max-width: 400px;
            @include margin-foto(150px, 10px, 15px, 100%);
            margin-right: 40%;

            .foto-cv{
                width: 100%;
            }
        }

        /*foto biografia*/
        .div-foto-bio{
            @include margin-foto(100px, 15px, 25px, 100%);
            overflow: hidden;

            .foto-bio{
                width: 400px;
            }
        }
    }

    /*desktop styles*/
    @include desktop {
        /*foto curriculum*/
        .div-foto-cv{
            width: 100%;
            max-width: 500px;
            @include margin-foto(950px, -1050px, 600px, 100%);

            .foto-cv{
                width: 80%;  
                max-width: 100%;       
                margin-right: 0;
            }
        }

        /*foto biografia*/
        .div-foto-bio{
            @include margin-foto(1000px, -900px, 650px, 100%);
            width: 100%;
            max-width: 400px;

            .foto-bio{
                width: 100%;
                max-width: 100%;
            }
        }
    }
}