@use "./variables" as *;
@use "./media-queries" as *;


@media (min-width: 320px) {

    /*foto background inicio*/
    #body-inicio{
        background-image: url(../imagenes/foto-inicio-tres.jpg);
        background-repeat: no-repeat;
        background-attachment: relative;
        background-position: left center;
        background-position-x: -250px;
        background-position-y: 50px;
        background-size: 1100px;

        /*main inicio*/
        #main-inicio{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 100px;

            /*secciones inicio*/
            .seccion-separada-inicio{
                width: 300px;
                max-width: 100%;
                padding: 5px 0px;
                border: 1px solid $secundary-color;
                background-color: rgba(218, 224, 228, 0.76);
                border-radius: 20px;
                margin-bottom: 50px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                /*titulos inicio*/
                #titulo-inicio{
                    font-size: 50px;
                    font-weight: bold;
                    font-family: $font-primary;
                    text-align: center;
                }

                #subtitulo-inicio{
                    font-size: 35px;
                    font-weight: bold;
                    font-family: $font-primary;
                    text-align: center;
                }

                /*texto bienvenida*/
                #div-bienvenida{
                    font-family: $font-primary;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }

        /*footer inicio*/
        #footer-inicio{
            margin-top: 100px;
        }
    }


    /*tablet styles*/
    @include tablet {

        /*foto background inicio*/
        #body-inicio{
            background-position-x: 0px;

            /*main inicio*/
            #main-inicio{
                flex-direction: column;

                /*secciones inicio*/
                .seccion-separada-inicio{
                    width: 450px;
                    margin-left: 50px;
                    margin-bottom: 50px;

                    /*titulo inicio*/
                    #titulo-inicio{
                        font-size: 60px;
                    }
                }
            }
        }
    }

    /*desktop styles*/
    @include desktop {

        /*foto background inicio*/
        #body-inicio{
            background-attachment: fixed;
            background-position-x: 500px;
            background-position-y: 40px;
            background-size: 1100px auto;

            /*secciones inicio*/
            .seccion-separada-inicio{
                width: 450px;
                margin-left: 400px;
                margin-bottom: 50px;

                /*titulos inicio*/
                #titulo-inicio{
                    font-size: 65px;
                }

                #subtitulo-inicio{
                    font-size: 45px;
                }

                /*texto bienvenida*/
                #div-bienvenida{
                    font-size: 35px;
                }
            }
        }
    }
}