@media (min-width: 480px) {

    #titulo-inicio{
        font-size: 50px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 150px;
        margin-left: 0px;
        color: rgb(137, 129, 129);
    }
    
    #subtitulo-inicio{
        font-size: 35px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin: 100px;
        margin-top: -15px; 
        margin-bottom: 200px;
        color: rgb(137, 129, 129);
    }
}